{% extends "layout.html" %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for jeu in jeux %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" src="/static/images/{{ jeu.image }}" alt="image de {{ jeu.nom_jeu }}" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">
                                {{ jeu.nom_jeu }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{url_for('jeux_page',id_jeu=jeu.id_jeux)}}" type="button" class="btn btn-sm btn-outline-secondary">Détails</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}